$green: #88a68e;
$grey: #f9f9f9;
$white: #ffffff;
$dark-green: #aeb7a5;
$silver: #d6d9d3;
$black: #464c4d;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $green;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: $white !important;
  // background-color: red;
}
.justify-content-end {
  justify-content: flex-end !important;
}

.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

// .btn {
//   position: relative;
//   z-index: 2;
// }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: $white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #212529;
}

.py-2 {
  padding: 2px auto;
}

.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.icon {
  color: grey;
}

//Signup 

.flex-container {
  display: flex;
}

.flex-child {
  // flex:1 ;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

hr {
  border-top: 1px solid red;
}

form {
  display: flex;
  flex-wrap: wrap;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-border{
  width: 500px;
  height: 300px;
  text-align: center;
  
}

.profile-image{
  width:100px;
  height: 150ps;
  margin-top: 60px;
}


